@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .overflow-paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .pause {
    clip-path: polygon(
      0 0,
      50% 25%,
      50% 75%,
      50% 75%,
      50% 25%,
      100% 50%,
      100% 50%,
      0 100%
    );
  }
  .playing {
    clip-path: polygon(
      0 0,
      40% 0,
      40% 100%,
      60% 100%,
      60% 0,
      100% 0,
      100% 100%,
      0 100%
    );
  }

  .button-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: 0.5s;
    border: 2px solid #fff;
    border-radius: 100px;
  }

  .button-container button {
    width: 101%;
    height: 100%;
    font-size: 18px;
    background: #fff;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: #000;
    cursor: pointer;
    animation: anim2 0.5s steps(22) forwards;

  }

  .button-container button:hover {
    animation: anim1 0.5s steps(22) forwards;
  }

  .mask {
    position: absolute;
    color: #fff;
    text-align: center;
    width: 101%;
    font-size: 18px;
    overflow: hidden;
  }

  @keyframes anim1 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }

  @keyframes anim2 {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
}
@layer base {
  body {
    font-family: "Oswald", sans-serif;
    color: #fff;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
}
